@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url(/fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
  }
}
/* 
@font-face {
  font-family: "SF Pro Display";
  src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
} */

* {
  font-family: "SF Pro Display";
}

body {
  margin: 0;
  font-family: "SF Pro Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
